@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="=jumbotron" style="background-image: url('../../Assests/samsung_banner-980x280.jpg');width:982px;">
    <h2 style="color:deeppink;"><b>AROMA BAKERY</b></h2>


</div>

<div class="row">
    <div class="col-md-4">
        
        <p> <img src="~/Assests/cakes-1.jpg" width="300" height="200" /> </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Cakes")"><b>Cakes &raquo;</b></a></p>
    </div>

    <div class="col-md-4">
        
        <p> <img src="~/Assests/dozenbakeshop.jpg" width="300" height="200" />  </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Pastries")"><b>Pastries &raquo;</b></a></p>
    </div>

    <div class="col-md-4">
        
        <p> <img src="~/Assests/maxresdefault.jpg" width="300" height="200" />  </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Cookies")"><b>Cookies &raquo;</b></a></p>
    </div>

</div>